.CFUserTextEncoding
.DS_Store
.aws

.bash_history
.bash_sessions/

.bundle/
.bzr.log

.config/
.cups/

.docker/

.gem/
.go/
.idlerc/
.lesshst
.local/
.node-gyp/
.node_repl_history
.npm/
.ssh
.circleci
.npmrc
.nvm/
.oces/
.opam/
.oracle_jre_usage/
.org-timestamps/
.pnpm-store/
.psql_history
.pylint.d/
.sqlite_history
.wget-hsts
.yarnrc
.parallel
.swt
.augeas

.terraform.d/
.terraform.versions/

.vscode
.vscode-glitch

.zcompdump*
.zsh_history
.zshrc.zwc

.zoomus
.mono

VirtualBox VMs/
go
javasharedresources


# Mac stuff
.Trash
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dev/
dotfilesv2.git/
