[core]
  editor = code --wait
[user]
  email = mads379@gmail.com
  name = Mads Hartmann
[pager]
  branch = false
[alias]
  st = status
  co = checkout
  unstage = reset HEAD --
  # Delete any merged branches, ignoring the active branch.
  tidy = !git branch --merged | grep -E -v '(master|staging)' | grep -E -v '^\\*' | xargs git branch -d
[pull]
  rebase = false
